@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

$main-green: #133a1b;
$dark-green: #011B10;
$light-green: #B7BF96;

.logo {
  // color: white;
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: bold;
  white-space: nowrap;
}

a {
  text-decoration: none !important;
}

.login-card {
  width: calc(min(400px, 90%));
}

#navbar {
  min-height: 7vh;

  a {
    color: #011B10;
  }
}


#top-navbar {
  min-height: 3vh;
}

#hero {
  width: 100%;
  min-height: 80vh;
  background-image: url(assets/images/pexels-xue-guangjian-1687845.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 300px;
  position: relative;

  #hero-text {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      font-size: 4rem;
    }
  }

  .cards {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
    transform: translateY(100px);

    .hero-card {
      width: 100%;
      padding: 1rem 2rem;
    }

  }
}