$main-green: #133a1b;
$dark-green: #011B10;
$light-green: #B7BF96;

#navbar {

  // background-color: $main-green;
  // color: white;
  a {
    text-decoration: none;
    color: #011B10;

    &:hover {
      transform: scale(1.1);
    }
  }

  .logo {
    // color: white;
    letter-spacing: 3px;
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.dark-btn {
  background-color: $dark-green ;
  color: white;
}